.text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Roboto", Arial, sans-serif;
  font-size: calc(10px + 8vw);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
  white-space: nowrap;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  mix-blend-mode: multiply;
  opacity: 0;
  animation: fadeInText 3s 2s ease-out forwards;
}

@keyframes fadeInText {
  100% {
    opacity: 1;
  }
}
